


.login_page{
    height: 450px;
    width: 470px;
    margin:auto;
    box-sizing: border-box;
    border-radius: 10px;
    background: radial-gradient(circle, #44ee44, #d2d505);
    
}

.Headign{
    padding-top:100px;
    padding-bottom: 30px;
    padding-left:110px;
    font-size: 30px;

}

.input_element{
    width:70%;
    margin-left:62px;
    text-align: center;
    padding:5px;
    border-radius: 7px;
    margin-top: 3px;
        

}

.btn{
    margin-left:200px;
    margin-top:20px;
    padding-left:12px;
    padding-right: 12px;
    font-size:20px;
    color: rgb(76, 10, 232);
    border-radius: 12px;
    border: 1px solid greenyellow;


}


*{
    margin:0;
    paddign:0;

}

